.. _{{title}}:

{{'#'* title|length}}
{{title}}
{{'#'* title|length}}


{%- for title,table in tables.items() %}
{{'='* title|length}}
{{title}}
{{'='* title|length}}
{{table.table}}
{{table.toc}}
{{ run }}
{%- endfor %}
{# Welcome to CHECRunDB
====================
A CHEC-S run database webpage.
 #}
{# Logged Runs (>2min)
===================
    {{loggedtbl}}
.. toctree::
    :hidden:
{%- for run in runs %}
    {{ run }}
{%- endfor %}
    :maxdepth: 1
    :caption: Contents:

Short runs (<2min)
==================
    {{shorttbl}}
.. toctree::
    :hidden:
{%- for run in shortruns %}
    {{ run }}
{%- endfor %}
    :maxdepth: 1
    :caption: Contents:
 #}

{# Indices and tables
==================

* :ref:`genindex`
* :ref:`modindex`
* :ref:`search` #}