.. _{{data.RUN}}:

{{'#'* data.RUN|length}}
{{data.RUN}}
{{'#'* data.RUN|length}}


**************
Run Statistics
**************

    {% for fieldkey,field in data.stats.items() -%}
    :{{field.label}}: {{field.val}}
    {% endfor %}


{% for key, value in diag.items() %}
{{'*'* value.title|length}}
{{value.title}}
{{'*'* value.title|length}}

    {% for fieldkey,field in value.stats.items() -%}
    :{{field.label}}: {{field.val}}
    {% endfor %}

    {% for fig in value.figures %}
.. image::   {{ fig }}
    {% endfor %}
{% endfor %}


